<!DOCTYPE HTML>
<html>
<head>
    <title>Travel Share Blog - Single Page Application</title>
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
	<!--  All the dependencies file are stored in bower_components folder. This folder is not exported to git Hub for a reason. Please do note there is bower.json file. In this file, dependencies are given. Now when you will run bower install in (cmd - cd Travel_blog/) all these files will be downloaded into your folder bower_compoennts/ and hence these path shown here will now make sense. -->
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">

	<script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>

	<!--Applications specific files -->
	<link rel="stylesheet" type="text/css" href="css/navbar.css">
	<link rel="stylesheet" type="text/css" href="css/sign-up.css">
	<script type="text/javascript" src="app/service/userLogin.srv.js"></script>
	<script type="text/javascript" src="app/controller/validate.controller.js"></script>
	<script type="text/javascript" src="app/config/main.config.js"></script>

</head>

<body ng-app="app">
	

			<!--NavBar Header when NOT LOGGED IN -->
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header navbar-logo">
						<a class="navbar-brand" href="#"><img src="images/navbar-logo.jpg" class="img-responsive" height="40" width="40" /></a>
					</div>
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Travel Share Blog</a>
					</div>
					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="search">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
							</div>	
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class=""><a href="#"><i class="fa fa-pencil"></i> Write a Story</a></li>
						<li class=""><a href="#" data-toggle="modal" data-target="#sign-in-modal"><i class="fa fa-sign-in"></i> Sign in/Sign up</a></li>
					</ul>
				</div>
			</nav>
			
			<!--NavBar Header when LOGGED IN-->

			<!--<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header navbar-logo">
						<a class="navbar-brand" href="#"><img src="images/navbar-logo.jpg" class="img-responsive" height="40" width="40" /></a>
					</div>
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Travel Share Blog</a> 
					</div>
					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="search">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
							</div> 
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class=""><a href="#"><i class="fa fa-pencil"></i> Write a Story</a></li>
						<li class=""><a href="#"><i class="fa fa-bell"></i> Notification</a></li>
						<li class=""><a href="#"><i class="fa fa-sign-out"></i> Sign Out</a></li>
						
					</ul>
					
				</div>
			</nav>
			-->

			<!-- Sign up Modal -->
			<div ng-include="'app/pages/templates/sign-up.html'">    </div>

			<!--MENU Tabs Option -->
			<div class="container">
				<div class="row">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#main" data-target="#home" data-toggle="tab">Home</a></li>
						<li><a href="#profile" data-target="#profile" data-toggle="tab">Profile</a></li>
						<li><a href="#favorites" data-target="#favorites" data-toggle="tab">Favorites</a></li>
						<li><a href="#trendyArtickles" data-target="#trendyArtickles" data-toggle="tab">Trendy Articles</a></li>
					</ul> 
					<div class="tab-content">
						<div class="tab-pane active" id="#home" class="tab-pane">home</div>
						<div class="tab-pane" id="#profile" class="tab-pane">profile</div>
						<div class="tab-pane" id="#favortites" class="tab-pane">favorites</div>
						<div class="tab-pane" id="#trendyArtickles" class="tab-pane">trendy</div>

					</div>
						
			</div>	
			<div class="tab-content">
				<div class="tab-pane active" id="#home" class="tab-pane">home</div>
				<div class="tab-pane" id="#profile" class="tab-pane">profile</div>
				<div class="tab-pane" id="#favortites" class="tab-pane">favorites</div>
				<div class="tab-pane" id="#trendyArtickles" class="tab-pane">trendy</div>

			</div>
			

			<!--<div ng-view>
				
			</div>
-->
			 <script>
				$(function () {
   					$('.nav-tabs a').tab('show');
    				$('.nav-tabs a').click(function (e) {
			        	e.preventDefault();
			        	$(this).tab('show');
    				});
				})();
			</script>



</body>
</html>